*, html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body{
    height: 90vh;
    font-family: sans-serif;
    line-height: 1.5;
    font-size: 1rem;
    background-color: #FAF5FF;
}
#main-flex{
    width: 80%;
    margin: 2rem auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    #dashboard{
        width: 50%;
        header{
            width: 100%;
            padding: 2rem 1rem;
            font-size: 1.6rem;
            border-radius: .6rem;
            background-color: #FFFFFF;
            box-shadow: 0 2px 4px 0px rgba(0, 0, 0, 0.1);
            #button{
                margin-top: 1.4rem;
                padding: .5rem 1rem;
                font-size: 1rem;
                border: none;
                border-radius: .3rem;
                color: #FFFFFF;
                background-color: #f587ad;
                cursor: pointer;
                &:hover{
                    background-color: #FBB6CE;
                }
            }
            
        }

        main{
            position: relative;
            width: 100%;
            margin: 2rem auto;
            #display{
                color: #4B4A4B;
                font-size: 1.3rem;
                text-align: justify;
            }
            #add-fact{
                display: none;
                position: absolute;
                font-size: 1.4rem;
                color: #e2dfe6;
                left: -3rem;
                top: .2rem;
                cursor: pointer;
                &:hover{
                    color: #f587ad;
                }
            }
        }
    }
    #saved-facts{
        background-color: #FFFFFF;
        width: 48%;
        padding: 2rem 1rem;
        font-size: 1rem;
        border-radius: .6rem;
        background-color: #FFFFFF;
        box-shadow: 0 2px 4px 0px rgba(0, 0, 0, 0.1);
        #keep{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            i{
                font-size: 2rem;
                color: #f587ad;
            }
            #num-facts{
                color: #4B4A4B;
                font-size: 2rem;
            }
            #delete-wrapper{
                position: relative;
                display: inline-block;
                #tooltip-delete{
                    position: absolute;
                    top: 2.5rem;
                    width: 115px;
                    padding: .2rem .2rem;
                    border-radius: .4rem;
                    color: #FFFFFF;
                    background-color: #FBB6CE;
                    display: none;
                }
                #delete-button{
                    margin-left: 1rem;
                    color: #e2dfe6;
                    cursor: pointer;
                    &:hover{
                        color: #f587ad;
                    }
                    &:hover + #tooltip-delete{
                        display: block;
                        animation: tootltip .2s ease-in-out;
                    }
                }
            }
        }
        
        h1{
            font-size: 1.6rem;
            color: #000000;
            text-align: center;
        }
        ul{
            list-style-type: none;
            li{
                font-size: 1rem;
                padding: 1rem 0;
                border-bottom: 1px solid #FBB6CE;
                color: #4B4A4B;
                display: flex;
                flex-direction: row;
                align-items: center;
                i{
                    color: #e2dfe6;
                    font-size: 1rem;
                    cursor: pointer;
                    margin-right: .5rem;
                    &:hover{
                        color: #FBB6CE;
                    }
                }
            }
        }
    }
    
}
@media only screen and (max-width: 768px){
    #main-flex{
        width: 100%;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        #dashboard{
            width: 100%;
            main{
                width: 100%;
                display: flex;
                flex-direction: column;
                #add-fact{
                    display: none;
                    padding: 1rem;
                    position: relative;
                    text-align: center;
                    width: 30%;
                }
            }
        }
        #saved-facts{
            width: 100%;
        }
    }
}
@keyframes tootltip{
    0%{
        opacity: 0;
        transform: translateY(10px);
    }
    100%{
        opacity: 1;
        transform: translate(0);
    }
}