*, html {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  height: 90vh;
  font-family: sans-serif;
  line-height: 1.5;
  font-size: 1rem;
  background-color: #FAF5FF;
}

#main-flex {
  width: 80%;
  margin: 2rem auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#main-flex #dashboard {
  width: 50%;
}

#main-flex #dashboard header {
  width: 100%;
  padding: 2rem 1rem;
  font-size: 1.6rem;
  border-radius: .6rem;
  background-color: #FFFFFF;
  -webkit-box-shadow: 0 2px 4px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 4px 0px rgba(0, 0, 0, 0.1);
}

#main-flex #dashboard header #button {
  margin-top: 1.4rem;
  padding: .5rem 1rem;
  font-size: 1rem;
  border: none;
  border-radius: .3rem;
  color: #FFFFFF;
  background-color: #f587ad;
  cursor: pointer;
}

#main-flex #dashboard header #button:hover {
  background-color: #FBB6CE;
}

#main-flex #dashboard main {
  position: relative;
  width: 100%;
  margin: 2rem auto;
}

#main-flex #dashboard main #display {
  color: #4B4A4B;
  font-size: 1.3rem;
  text-align: justify;
}

#main-flex #dashboard main #add-fact {
  display: none;
  position: absolute;
  font-size: 1.4rem;
  color: #e2dfe6;
  left: -3rem;
  top: .2rem;
  cursor: pointer;
}

#main-flex #dashboard main #add-fact:hover {
  color: #f587ad;
}

#main-flex #saved-facts {
  background-color: #FFFFFF;
  width: 48%;
  padding: 2rem 1rem;
  font-size: 1rem;
  border-radius: .6rem;
  background-color: #FFFFFF;
  -webkit-box-shadow: 0 2px 4px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 4px 0px rgba(0, 0, 0, 0.1);
}

#main-flex #saved-facts #keep {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#main-flex #saved-facts #keep i {
  font-size: 2rem;
  color: #f587ad;
}

#main-flex #saved-facts #keep #num-facts {
  color: #4B4A4B;
  font-size: 2rem;
}

#main-flex #saved-facts #keep #delete-wrapper {
  position: relative;
  display: inline-block;
}

#main-flex #saved-facts #keep #delete-wrapper #tooltip-delete {
  position: absolute;
  top: 2.5rem;
  width: 115px;
  padding: .2rem .2rem;
  border-radius: .4rem;
  color: #FFFFFF;
  background-color: #FBB6CE;
  display: none;
}

#main-flex #saved-facts #keep #delete-wrapper #delete-button {
  margin-left: 1rem;
  color: #e2dfe6;
  cursor: pointer;
}

#main-flex #saved-facts #keep #delete-wrapper #delete-button:hover {
  color: #f587ad;
}

#main-flex #saved-facts #keep #delete-wrapper #delete-button:hover + #tooltip-delete {
  display: block;
  -webkit-animation: tootltip .2s ease-in-out;
          animation: tootltip .2s ease-in-out;
}

#main-flex #saved-facts h1 {
  font-size: 1.6rem;
  color: #000000;
  text-align: center;
}

#main-flex #saved-facts ul {
  list-style-type: none;
}

#main-flex #saved-facts ul li {
  font-size: 1rem;
  padding: 1rem 0;
  border-bottom: 1px solid #FBB6CE;
  color: #4B4A4B;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#main-flex #saved-facts ul li i {
  color: #e2dfe6;
  font-size: 1rem;
  cursor: pointer;
  margin-right: .5rem;
}

#main-flex #saved-facts ul li i:hover {
  color: #FBB6CE;
}

@media only screen and (max-width: 768px) {
  #main-flex {
    width: 100%;
    padding: 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  #main-flex #dashboard {
    width: 100%;
  }
  #main-flex #dashboard main {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #main-flex #dashboard main #add-fact {
    display: none;
    padding: 1rem;
    position: relative;
    text-align: center;
    width: 30%;
  }
  #main-flex #saved-facts {
    width: 100%;
  }
}

@-webkit-keyframes tootltip {
  0% {
    opacity: 0;
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@keyframes tootltip {
  0% {
    opacity: 0;
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}
/*# sourceMappingURL=index.css.map */